*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board-display{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-bottom: 7vh solid green;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    animation: pipe 3s infinite linear;
}

.mario{
    position: absolute;
    width: 8rem;
    bottom: 0px;
}

.jump{
    animation: jump-mario 500ms ease-out;
}

.game-over {
    width: 5rem;
    margin-left: 50px;
}

.cloud{
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s ease-out infinite;
}

.button-jump{
    height: 19rem;
    width: 19rem;
    position: absolute;
    bottom: 0;
    border: 1px solid red;
}

@keyframes pipe {
    from{
        right: -5rem;
    }
    
    to{
        right: 100%;
    }
}

@keyframes jump-mario {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 140px;
    }

    60% {
        bottom: 140px;
    }

    80% {
        bottom: 140px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes clouds-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@media (min-width: 1024px){
    .button-jump{
        display: none;
    }
}

@media (max-width: 1024px){

    .pipe{
        width: 3rem;
        height: 4rem;
        animation: pipe 2s infinite linear;
    }

    .mario{
        width: 6rem;
    } 

    .game-over{
        width: 4rem;
    }

    .button-jump{
        bottom: 7rem;
        right: 7rem;
        position: absolute;
        width: 12rem;
        height: 12rem;
        border-radius: 180px;
        background-color: #0a0a0a3d;
        border: none;
        font-size: 20px;
        color: #E0F6FF;
    }
}

@media (max-width: 768px){

    .pipe{
        width: 3rem;
        height: 4rem;
        animation: pipe 1.1s infinite linear;
    }

    .mario{
        width: 6rem;
    } 

    .game-over{
        width: 4rem;
    }

    .button-jump{
        height: 8rem;
        width: 8rem;
    }
}

@media (max-width: 425px){

    .pipe{
        width: 3rem;
        height: 4rem;
        animation: pipe 1.1s infinite linear;
    }

    .mario{
        width: 5rem;
    } 

    .game-over{
        width: 4rem;
    }

    .button-jump{
        height: 6rem;
        width: 6rem;
        bottom: 2rem;
        right: 2rem;
    }
}

